<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if link %}
    <meta http-equiv="refresh" content="0;URL={{link}}">
    {% endif %}

    {% if 'seo' in config and 'title' in config.seo %}
    <title>{{ config.seo.title }}</title>
    {% elif 'site_name' in config %}
    <title>{{ config.site_name }} | shorten url</title>
    {% else %}
    <title>Shorten url</title>
    {% endif %}

    {% if 'seo' in config and 'description' in config.seo %}
    <meta name="description" content="{{ config.seo.description }}">
    {% endif %}

    {% if 'seo' in config and 'keywords' in config.seo %}
    <meta name="keywords" content="{{ config.seo.keywords }}">
    {% endif %}

    {% if 'favicon' in config %}
    <link rel="shortcut icon" type="image/png" href="{{ config.favicon }}"/>
    {% endif %}

    <link rel="stylesheet" href="static/css/bundle.css" charset="utf-8">
    <style type="text/css">
        body{
            font-family: sans-serif;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
    </style>
    {% if 'google_analytics' in config %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', '{{ config.google_analytics }}', 'auto');
      ga('send', 'pageview');

    </script>
    {% endif %}
</head>
