.continue_box {
    margin-bottom: 10px; width: 100%; text-align: center;
}

.continue_text {
    color: #495a9c;
    font-size: 14px;
    margin-right: 10px;
    text-align: center;
}

.child {
    text-align: center;
}

.logo {
    font-weight: bold;
    font-size: 100px;
    color: #495a9c;
    text-decoration: none;
}

.promo_parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

.promo-title {
    padding: 5 5 5 0;
    text-align: left;
    border-bottom: 1px solid #ccc;
    margin-bottom: 3px;
}

.promo-title a {
    color: black;
    text-decoration: none;
    font-size: 16px;
}

.promo-body {
    text-align: left!important;
}

.promo-body a {
    color: black;
    font-size: 13px;
}

.w3z-box {
    padding: 5px;
    margin: 10px;
    max-width: 200px;
    border-radius: 3px;
    box-shadow: #B1B1B1 1px 1px 4px;
}

.link {
    color: black;
}

.app_parent {
  outline: 1px solid #ccc;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  padding: 20px;
  max-width: 600px;
}

.url_input {
  width: 90%;
  min-width: 300px;
  max-width: 700px;
  height: 25px;
}

.shorten_button {
  padding: 7px;
  width: 20%;
  min-width: 60px;
  max-width: 80px;
}

.btn {
  position: relative;
  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);

  background-color: #5264ae;
  color: #ecf0f1;

  transition: background-color .3s;
}

.btn:hover, .btn:focus {
  background-color: #495a9c;
}

.btn > * {
  position: relative;
}

.btn span {
  display: block;
  padding: 12px 24px;
}

.btn:before {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;

  display: block;
  width: 0;
  padding-top: 0;

  border-radius: 100%;

  background-color: rgba(236, 240, 241, .3);

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn:active:before {
  width: 120%;
  padding-top: 120%;

  transition: width .2s ease-out, padding-top .2s ease-out;
}