<!-- APP: after state START -->
<div id="after" class="app_parent w3z-box" style="display: none;">

  <strong>
    <a id="short_url" style="color: darkblue; text-decoration: none;" target="_blank">
      SHORT_URL
    </a>
    <button id="copy_button" class="btn" data-clipboard-target="#short_url">copy</button>
  </strong>

  <br /><br />
  <button
    id="shorten_again_button"
    class="btn shorten_button"
    onClick={this.handleShortenAgain}>Shorten again</button>
</div>
<!-- APP: after state END -->
