<!-- APP: initial state START -->
<div id="initial" class="app_parent w3z-box">
  <div class="group">
    <input
      id="link_input"
      placeholder="Enter URL to shorten"
      class="url_input" type="text" autoFocus required />
  </div>
  <div class="group">
      <!-- <label class="url_prefix" >{{ config.site_url }}</label> -->
      <label class="url_prefix" >https://w3p.in/</label>
      <input id="personalized_handle" placeholder="Personalized part" class="url_input" type="text" autofocus required/>
  </div>

  <br />
  <button
    id="shorten_button"
    class="btn shorten_button">Shorten URL</button>
</div>
<!-- APP: initial state END -->
