<html>
{% include "partials/header.html" %}
<style>
   #ppBody
   {
   font-size:11pt;
   width:100%;
   margin:0 auto;
   text-align:justify;
   }
   #ppHeader
   {
   font-family:verdana;
   font-size:21pt;
   width:100%;
   margin:0 auto;
   }
   .ppConsistencies
   {
   display:none;
   }

   .logo {
    font-weight: bold;
    font-size: 100px;
    color: #495a9c;
    text-decoration: none;
}
</style>

<div>
  <a class="logo" href="/">{{ config.site_name }}</a>
</div>

<div id='ppHeader'>{{ config.site_name }} Privacy Policy</div>
<div id='ppBody'>
   <div class='ppConsistencies'>
      <div class='col-2'>
         <div class="quick-links text-center">Information Collection</div>
      </div>
      <div class='col-2'>
         <div class="quick-links text-center">Information Usage</div>
      </div>
      <div class='col-2'>
         <div class="quick-links text-center">Information Protection</div>
      </div>
      <div class='col-2'>
         <div class="quick-links text-center">Cookie Usage</div>
      </div>
      <div class='col-2'>
         <div class="quick-links text-center">3rd Party Disclosure</div>
      </div>
      <div class='col-2'>
         <div class="quick-links text-center">3rd Party Links</div>
      </div>
      <div class='col-2'></div>
      <div class='col-2'></div>
   </div>
   <div style='clear:both;height:10px;'></div>
   <div class='ppConsistencies'>
      <div class='col-2'>
         <div class="col-12 quick-links2 gen-text-center">Google AdSense</div>
      </div>
      <div class='col-2'>
         <div class="col-12 quick-links2 gen-text-center">
            Fair Information Practices
            <div class="col-8 gen-text-left gen-xs-text-center" style="font-size:12px;position:relative;left:20px;">Fair information<br> Practices</div>
         </div>
      </div>
      <div class='col-2'>
         <div class="col-12 quick-links2 gen-text-center coppa-pad">
            COPPA
         </div>
      </div>
      <div class='col-2'>
         <div class="quick-links2 gen-text-center">Our Contact Information<br></div>
      </div>
   </div>
   <div style='clear:both;height:10px;'></div>
   <div class='innerText'>This privacy policy has been compiled to better serve those who are concerned with how their 'Personally identifiable information' (PII) is being used online. PII, as used in US privacy law and information security, is information that can be used on its own or with other information to identify, contact, or locate a single person, or to identify an individual in context. Please read our privacy policy carefully to get a clear understanding of how we collect, use, protect or otherwise handle your Personally Identifiable Information in accordance with our website.<br></div>
   <span id='infoCo'></span><br>
   <div class='grayText'><strong>What personal information do we collect from the people that visit our blog, website or app?</strong></div>
   <br />
   <div class='innerText'>We do not collect information from visitors of our site.</div>
   <br>
   <div class='innerText'>We use an SSL certificate</div>
   <div class='innerText'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>&bull;</strong> We only provide articles and information. We never ask for personal or private information like email addresses, or credit card numbers.</div>
   <span id='coUs'></span><br>
   <div class='grayText'><strong>Do we use 'cookies'?</strong></div>
   <br />
   <div class='innerText'>We do not use cookies for tracking purposes </div>
   <div class='innerText'><br>You can choose to have your computer warn you each time a cookie is being sent, or you can choose to turn off all cookies. You do this through your browser (like Internet Explorer) settings. Each browser is a little different, so look at your browser's Help menu to learn the correct way to modify your cookies.<br></div>
   <br>
   <div class='innerText'>If you disable cookies off, some features will be disabled that make your site experience more efficient and some of our services will not function properly.</div>
   <br>
   <div class='innerText'>However, you can still place orders .</div>
   <br><span id='trDi'></span><br>
   <div class='grayText'><strong>Third-party disclosure</strong></div>
   <br />
   <div class='innerText'>We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information.</div>
   <span id='trLi'></span><br>
   <div class='grayText'><strong>Third-party links</strong></div>
   <br />
   <div class='innerText'>Occasionally, at our discretion, we may include or offer third-party products or services on our website. These third-party sites have separate and independent privacy policies. We therefore have no responsibility or liability for the content and activities of these linked sites. Nonetheless, we seek to protect the integrity of our site and welcome any feedback about these sites.</div>
<div class='innerText'><br>Last Edited on 2016-03-11</div>
</div>
</html>
